.projectDisconnect{
  &__header{
    height: 20vh;
    min-height: 170px;
    background: linear-gradient(180deg, #1A3A58 20%, #346797 100%);
    padding: 30px;
    text-align: center;
    color: white;
    &__title{
      font-size: 2rem;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    &__pseudo{
      display: inline-block;
      background-color: white;
      color: #2A5680;
      padding: 2px 15px;
      border-radius: 20px;
    }
  }
  &__main{
    width: 100vw;
    padding: 0 40px;
    &__return{
      width: 100%;
      max-width: 1000px;
      margin: 20px auto;
      display: flex;
      &__arrow{
        font-size: 1rem;
        border: 1px solid #1A3A58;
        border-radius: 50px;
        width: 25px;
        height: 25px;
        line-height: 25px;
        text-align: center;
        transform: rotate(180deg);
      }
      &__text{
        font-size: 1rem;
        height: 25px;
        line-height: 25px;
        margin-left: 15px;
      }
    }
    &__informations{
      width: 100%;
      max-width: 1000px;
      border: 1px solid rgb(235, 235, 235);
      margin: 20px auto; 
      padding: 20px;
    }
    &__button{
      height: 30px;
      width: 200px;
      border-radius: 20px;
      border: none;
      display: block;
      background-color: #2A5680;
      color: white;
      margin: 0px auto;
      font-weight: bold;
    }
  }
}
