.login {
  padding: 35px;
  background-color: #1a3a58;
  background-image: linear-gradient(0deg, #1a3a58 0%, #12273b 100%);
  background-repeat: no-repeat;
  color: white;
  font-family: "Nunito", sans-serif;
  height: 100vh;

  &__forms {
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media (max-width: 780px) {
    height: 100%;

    &__forms {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
